body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus{
  outline-color: blue;
}
.paragraph{
  border: 1px solid gray;
  padding: 10px 20px;
  position: relative;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 12px;
}
.paragraph>input{
  margin-top: 10px;
}
.cockpit-btn{
  display: block;
  margin: 10px auto;
}
body{
  text-align: center;
  padding: 2rem;
}